<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.champion.dance.domain.mapper.DanceMapper" >
  <resultMap id="BaseResultMap" type="com.champion.dance.domain.entity.Dance" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="dance_name" property="danceName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dance_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dance
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dance
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.champion.dance.domain.entity.Dance" >
    insert into dance (id, dance_name)
    values (#{id,jdbcType=VARCHAR}, #{danceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.champion.dance.domain.entity.Dance" >
    insert into dance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="danceName != null" >
        dance_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="danceName != null" >
        #{danceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.champion.dance.domain.entity.Dance" >
    update dance
    <set >
      <if test="danceName != null" >
        dance_name = #{danceName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.champion.dance.domain.entity.Dance" >
    update dance
    set dance_name = #{danceName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>